node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Next.js build outputs
.next
out

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
